header {
    width: 100%;
    height: 70px;
    
    background-color: #FFF;
    border-bottom: 1px #CCCCCC solid;
    background-image: url("../images/logo.png");
    background-attachment: scroll;
    background-repeat: no-repeat;
    /* position: relative; */
    /* top: 0; */
}

